* {
  margin: 0;
  padding: 0;
}
.main {
  width: 1920px;
  height: 1020px;
  background-image: url("/images/01_main_1020.png");
  background-size: cover;
}
.nav {
  width: 100%;
  font-size: 1.2rem;
}
.nav-logo {
  margin: 70px 0 0 60px;
}
.nav-item {
  font-size: 20pt;
  font-weight: bold;
  margin: 70px 20px 0 80px;
}
.nav-link {
  color: white;
}

.nav-link:hover {
  color: black;
  text-shadow: -1px 0 rgba(255, 255, 255, 0.3), 0 1px rgba(255, 255, 255, 0.3),
    1px 0 rgba(255, 255, 255, 0.3), 0 -1px rgba(255, 255, 255, 0.3);
}
.main_icon {
  position: fixed;
  left: 1600px;
  margin: 75px 0 0 75px;
  z-index: 999;
}
.main_search_icon {
  padding-right: 25px;
}
.btn {
  width: 400px;
  height: 100px;
  position: relative;
  display: inline-block;
  left: 75%;
  bottom: 250px;
  font-size: 20pt;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4);
}
.main_txt {
  width: 100%;
  height: 90px;
  color: white;
  text-align: center;
  text-shadow: 4px 2px 2px rgb(0 0 0 / 50%);
  margin: 790px 0 0 0;
  letter-spacing: 2px;
}
.main_txt h1 {
  font-size: 20pt;
}
.main_txt p {
  font-size: 16pt;
}
.main_txt p span {
  font-size: 20pt;
}
.main_logo {
  width: 70px;
  height: 70px;
  float: right;
  margin: -95px 30px 0 0;
}
/* 1page end */
/* popup */
.popup {
  position: absolute;
  width: 1920px;
  height: 1020px;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}
#popupClose {
 width: 55px;
 height: 53px;
 position: absolute;
 top: 0px;
 margin: 0 auto;
 right: 0px;
 cursor: pointer;
 text-align: center;
 line-height: 53px;
}
.popup form {
  width: 900px;
  height: 700px;
  position: relative;
  top: 200px;
  left: 510px;
  background-color: white;
}
.popup_title {
  text-align: center;
  padding: 56px 0 24px 0;
}
.popup_title img {
  width: 300px;
}
.popup_title p {
  margin-top: 12px;
  font-size: 16pt;
  color: gray;
  letter-spacing: 2px;
}
.popup_manu {
  margin-left: 200px;
}
.popup_place legend {
  text-align: center;
  margin-bottom: 28px;
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 7px;
  
}
.popup_place ul li {
  display: flex;
  padding-bottom: 18px;
  line-height: 30px;
}
.popup_place ul li label {
  width: 150px;
  float: left;
  font-size: 10pt;
  font-weight: bold;
  letter-spacing: 4px;
}
.popup_place ul li input {
  width: 320px;
  height: 30px;
  text-indent: 10px;
}
.birth_day,
.birth_slt  {
  height: 55px;
  line-height: 55px;
}
.birth_y {
  width: 80px;
  height: 30px;
  margin-right: 20px;
}
.birth_m, .birth_d {
  width: 63px;
  height: 30px;
  margin-right: 20px;
}
.popup_place ul li .gender_check {
  width: 20px;
  height: 15px;
}
#genderCheck {
  width: 60px;
  height: 60px;
  font-size: 12px;
}
#showroom {
  width: 320px;
  height: 30px;
}
.caption ul li {
  height: 5px;
}
.caption ul li span {
  font-size: 8px;
  color: gray;
}
.popup_btn {
  padding-top: 15px;
}
#popupReserve {
  width: 300px;
  height: 50px;
  letter-spacing: 4px;
  color: white;
  background-color: rgb(0, 0, 40);
  border: none;
  cursor: pointer;
  margin-left: 100px;
}

/* popup end*/
/* 2page */
.detail {
  width: 1920px;
  height: 1020px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.detail_top {
  width: 100%;
  height: 850px;
  background-image: url("/images/backgound_01_1020.png");
  background-size: cover;
  padding-top: 100px;
}
.detail_title {
  text-align: center;
  color: white;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0),
    0 -1px rgb(0, 0, 0);
}
.detail_title h2 {
  font-size: 44px;
  margin-bottom: -1px;
}
.detail_title p {
  font-size: 15px;
  margin-bottom: 40px;
}
.detail_dec {
  text-align: center;
}
.detail_dec p,
span {
  font-size: 10pt;
  color: white;
  margin-bottom: 0px;
}
.detail_dec span {
  color: rgb(221, 166, 103);
}
.btn_zoom_img div input {
  position: relative;
  width: 40px;
  height: 40px;
  background: url("../images/point_img.png");
  border: none;
  cursor: pointer;
}
.zoom_btn_first {
  top: 280px;
  left: 270px;
}
.zoom_btn_second {
  top: 185px;
  left: 380px;
}
.zoom_btn_third {
  top: 370px;
  left: 635px;
}
.zoom_btn_fourth {
  top: 80px;
  left: 1100px;
}
.zoom_btn_fifth {
  top: 200px;
  left: 1550px;
}
#lightbox {
  /* background-color: black; */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 1920px;
  height: 1200px;
  top: 0;
  left: 0;
  display: none;
}
#lightboxImage {
  position: absolute;
  top: 50%;
  left: 50%;
  /* check */
  /* transform: translateY(-50%); */
  /* transform: translateX(-50%); */
  transform: translate(-50%, -50%);
}
/* .btn_zoom_img img {
  position: absolute;
  width: 500px;
  height: 400px;
  margin-left: 705px;
  display: none;
} */
.detail_top .detail_small_txt {
  text-align: right;
  color: white;
  font-size: 8pt;
  margin-right: 10px;
  position: relative;
  top: 290px;
}
.detail_bottom {
  width: 1920px;
  display: inline-block;
  margin-top: 5px;
}
.detail_bottom img {
  width: 476px;
  height: 170px;
}
.detail_bottom img:first-child {
  width: 477px;
}
.detail_bottom img:last-child {
  width: 477px;
}
/* 2page end */
/* 3page */
.exterior {
  width: 1920px;
  height: 1020px;
  background-image: url("/images/backgound_02_1020.png");
  background-size: cover;
  padding-top: 100px;
}
.exterior_title {
  text-align: center;
  color: black;
}
.exterior_title h2 {
  font-size: 44px;
  margin-bottom: -1px;
}
.exterior_title p {
  font-size: 15px;
  margin-bottom: 70px;
}
.exterior_color {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.exterior_color_img {
  width: 480px;
  height: 185px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 60px 160px 0;
}
.exterior_color_img:last-child {
  margin-bottom: 0;
}
.exterior_color p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}
.exterior_dec {
  width: 300px;
  height: 70px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 20px;
  background-color: rgb(0, 0, 40);
  border: none;
  cursor: pointer;
  float: right;
  margin: -50px 123px 0 0;
}
/* 3page end */
/* 4page */
.interior {
  width: 1920px;
  height: 1020px;
  background-image: url("/images/backgound_03_1020.png");
  background-size: cover;
  padding-top: 80px;
}
.interior_title {
  text-align: center;
  color: white;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0),
    0 -1px rgb(0, 0, 0);
}
.interior_title h2 {
  font-size: 44px;
  margin-bottom: -1px;
}
.interior_title p {
  font-size: 15px;
  margin-bottom: 80px;
}
.interior_frist_line {
  display: inline-block;
  padding-left: 123px;
}
.interior_second_line {
  float: right;
  padding-right: 123px;
}
.interior_box {
  margin-bottom: 80px;
}
.interior_frist_line,
.interior_second_line {
  position: relative;
}
.interior_text {
  position: absolute;
  width: 500px;
  height: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 50px;
  padding-left: 10px;
  margin-top: -50px;
}
.interior_dec {
  position: relative;
  width: 300px;
  height: 70px;
  color: white;
  text-align: center;
  font-size: 20px;
  background-color: rgb(40, 40, 40);
  border: none;
  cursor: pointer;
  float: right;
  margin: -150px 123px 0 0;
}
/* 4page end */
/* 5page */
.trims {
  width: 1920px;
  height: 1020px;
  background-image: url("/images/backgound_04.png");
  background-size: cover;
  padding-top: 100px;
}
.trims_title {
  text-align: center;
  color: white;
}
.trims_title h2 {
  font-size: 44px;
  margin-bottom: -1px;
}
.trims_title p {
  font-size: 15px;
  margin-bottom: 170px;
}
.trims_line {
  width: 100%;
  text-align: center;
}
.trims_box {
  display: inline-block;
  margin-right: 30px;
  position: relative;
  color: black;
}
.trims_box img {
  width: 538px;
  height: 535px;
}
.trims_text {
  position: absolute;
  width: 538px;
  height: 220px;
  margin-top: -220px;
}
.trims_text span {
  color: black;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.trims_small_p {
  font-size: 15px;
  margin-bottom: 35px;
}
.trims_dec {
  width: 220px;
  height: 50px;
  background-color: rgb(0, 0, 40);
  border: none;
  cursor: pointer;
  color: white;
}
.trims_small_txt {
  text-align: right;
  color: white;
  font-size: 8pt;
  margin-right: 10px;
  position: relative;
  top: 100px;
  line-height: 2px;
}
/* 5page end */
/* footer */
footer {
  width: 1920px;
  height: 150px;
}
.footer_logo {
  display: inline-block;
  float: left;
  margin: 60px 170px 0 137px;
}
.footer_menu li {
  display: inline-block;
  float: left;
  margin: 60px 80px 0 0;
}
.footer_menu a {
  color: black;
}
.footer_icon {
  float: right;
  margin: 57px 95px 0 0;
}
.footer_icon a {
  margin-left: 40px;
}
